<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    
    <style>
      .image{
        display: flex;
        flex-direction: row;
       }
      .left_img{
        float: left}
      .right_img{
        float: right}
/*       .form{
        display: flex;
        width: 400px;
        } */
    </style>
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="https://asivaai.github.io" class="btn">Download for Windows</a>
        <a href="http://asivaai.github.io" class="btn">Download for Linux</a>
      <p>
        <a class="github-button" href="https://github.com/asivaai" data-show-count="true" aria-label="Follow @asivaai on GitHub">Follow @asivaai</a>
        <a class="github-button" href="https://github.com/asivaai/asivaai.github.io" data-icon="octicon-star" data-show-count="true" aria-label="Star asivaai/asivaai.github.io on GitHub">Star</a>
      </p>
      {% endif %}
    </header>
    
    <main id="content" class="main-content" role="main">
    <img src="asiva_img.png" width="100%" height="400">
      
    <div class="video">
     <center><video width="90%" height="350" controls>
      <source src="video.webm" type="video/webm"
              </video></center>
       </div>
     
      <div class="gif">
     <center><img src="binary.gif" width="90%" height="400"></center>
       </div>
     <a class="github-button" href="https://github.com/asivaai/asivaai.github.io" data-icon="octicon-star" data-show-count="true" aria-label="Star asivaai/asivaai.github.io on GitHub">Star</a>
     <button type="button" onclick="alert('Hello world!')">Click Me!</button>
      <div class="image">
          <img src="asiva_img.png" width="50%" height="400">
          <img src="asiva_img.png" width="50%" height="400">
      </div>
      
       <div class="left_img">
          <img src="asiva_img.png" width="500" height="400"> </div>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
           cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </p>
     <br>
      
      <div class="right_img">
          <img src="asiva_img.png" width="500" height="400"></div>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
           cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </p>
      <br>
     
      <div>
      {{ content }}

        <div id="ff-compose" style="width: 60%; height: 100%"></div>
<script async defer src="https://formfacade.com/include/103891188610741936616/form/1FAIpQLSf4K0RHMOrohPZ4-nntMUwbRdTH27IOMCf7DEn3iyRMElW7Bw/classic.js?div=ff-compose"></script>
   
      </div>
      
      <footer class="site-footer" style="margin-left: 10px !important;">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
       </footer>
    </main>
  </body>
</html>
